@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a:visited,
a:hover,
a:active,
a:link {
    text-decoration: none;
    color: #000;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #000;
}

/* 전체메뉴 */
#all_box {
    width: 100%;
    height: 100%;
    background: #3e5330;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
}

#all_box .all_inner {
    width: 1200px;
    margin: 200px auto;
}

#all_box .all_tit {
    font-size: 100px;
    color: #ffe098;
    font-weight: bold;
    text-align: center;
    padding-bottom: 100px;
}

.all_gnb > li {
    float: left;
    width: calc(25% - 40px);
    margin: 0 20px;
}

.all_gnb > li > a {
    color: #fff;
    font-size: 40px;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 30px 0;
    margin-bottom: 30px;
}

.all_dp2 a {
    display: block;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 10px 0;
    transition: color 0.5s;
}

.all_dp2 a:hover {
    color: #ffe098;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
}



/* Header */
#header {
    height: 160px;
}

#header .header_inner {
    width: 1200px;
    height: 160px;
    margin: 0 auto;
    position: relative;
}

.header_inner h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header_inner .all_menu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 9999;
}

.header_inner .gnb {
    position: absolute;
    right: 0;
    top: 61px;
    text-align: center;
    z-index: 999;
}

.header_inner .gnb::after {
    content: "";
    display: block;
    clear: both;
}

#header .gnb > li {
    float: left;
}

#header .gnb > li > a {
    display: block;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.5;
    font-weight: 500;
    transition: color 0.3s;
    margin: 0 33px 60px;
    position: relative;
}

#header .gnb > li > a:hover {
    color: #62af31;
}

.gnb > li > a::after {
    content: "";
    width: 15px;
    height: 15px;
    background: #62af31;
    position: absolute;
    bottom: -75px;
    left: 50%;
    transition: all 0.5s;
    transform: rotate(45deg) translateX(-50%);
    opacity: 0;
}

.gnb > li:hover > a::after {
    opacity: 1;
}

#header .gnb > li:nth-child(1) {
    margin-right: 18px;
}

#header .gnb > li:nth-child(2) {
    margin-right: 20px;
}

#header .gnb > li:nth-child(3) {
    margin-right: 38px;
}

#header .gnb > li:nth-child(4) {
    margin-right: 185px;
}

#header .dp2 > li {
    background: #62af31;
    display: block;
}

#header .dp2 > li > a {
    color: #fff;
}

#header .dp2 > li:nth-child(1) {
    padding: 10px 30px 10px;
}

#header .dp2 > li:nth-child(2) {
    padding: 10px 0;
}

#header .dp2 > li:nth-child(3) {
    padding: 10px 0;
}

#header .dp2 > li:nth-child(4) {
    padding: 10px 0 10px;
}

#header .dp2 > li > a:hover {
    text-decoration: underline;
}

/* Main_visual */
#main_visual {
    height: 750px;
    position: relative;
}


#main_visual li {
    height: 750px;
    box-sizing: border-box;
}

#main_visual .mv1 {
    background: url(../images/main/main_img_banner1.jpg) no-repeat center top;
}

#main_visual .mv1 .tit {
    font-size: 100px;
    color: #fff;
    line-height: 1.3;
    font-weight: bold;
    text-align: left;
    padding-top: 161px;
    padding-left: 200px;
}

#main_visual .mv1 .stit {
    color: #000;
    text-align: center;
    font-size: 50px;
    background: #fff;
    border-radius: 50px;
    display: inline-block;
    width: 700px;
    height: 100px;
    box-sizing: border-box;
    padding-top: 37px;
    margin-left: 200px;
    margin-top: 50px;
}

#main_visual .mv2 {
    background: url(../images/main/main_img_banner2.jpg) no-repeat center top;
}

#main_visual .mv2 .tit {
    font-size: 100px;
    color: #fff;
    line-height: 1.5;
    font-weight: 900;
    text-align: center;
    padding-top: 102px;
}

#main_visual .mv2 .tit > span {
    color: #FFC501;
}

#main_visual .mv2 .stit {
    color: #fff;
    text-align: center;
    font-size: 50px;
    line-height: 1.5;
    padding-top: 100px;
}

#main_visual .mv2 .stit > span {
    color: #67DBED;
}

#main_visual .mv3 {
    background: url(../images/main/main_img_banner3.jpg) no-repeat center top;
}

#main_visual .mv3 .tit {
    font-size: 80px;
    color: #fff;
    line-height: 1.5;
    font-weight: bold;
    text-align: left;
    padding-top: 254px;
    padding-left: 100px;
}

#main_visual .mv3 .stit {
    color: rgba(255, 255, 255, 0.7);
    text-align: left;
    font-size: 50px;
    line-height: 1.5;
    padding-top: 50px;
    padding-left: 100px;
}

/* PAGER */

.bx-wrapper .bx-pager {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #ccc;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: rgba(255, 255, 255, 0.7);
    text-indent: -9999px;
    display: block;
    width: 30px;
    height: 10px;
    margin: 0 10px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #62af31;
    width: 50px;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

#main_visual .bx-wrapper .bx-prev {
    left: 5%;
    background: url(../images/main/mv_prev.png) no-repeat center center;
}

#main_visual .bx-wrapper .bx-next {
    right: 5%;
    background: url(../images/main/mv_next.png) no-repeat center center;
}

#main_visual .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    outline: 0;
    width: 42px;
    height: 80px;
    border-radius: 50%;
    text-indent: -9999px;
    z-index: 9999;
}

#main_visual .bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

/* Brand */
#brand {
    width: 1200px;
    height: 460px;
    margin: 150px auto;
    text-align: center;
    position: relative;
}

#brand h2 {
    font-size: 40px;
    line-height: 1.5;
    font-weight: bold;
    background: url(../images/main/main_bar.png) no-repeat center top;
    padding-top: 20px;
}

#brand p {
    font-size: 20px;
    line-height: 1.45;
    padding-bottom: 50px;
}

#brand .content_1 {
    position: absolute;
    left: 0;
}

#brand .content_2 {
    position: absolute;
    left: 410px;
}

#brand .content_3 {
    position: absolute;
    right: 0;
}

#brand .content_1 .content1_hover {
    position: absolute;
    left: 0;
}

#brand .content_2 .content2_hover {
    position: absolute;
    left: 0;
}

#brand .content_3 .content3_hover {
    position: absolute;
    right: 0;
}

/* Banner */
#banner {
    height: 600px;
    margin-bottom: 150px;
    background: url(../images/main/main_img_bannerbg.png) no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    padding-top: 50px;
}

#banner h2 {
    font-size: 40px;
    line-height: 1.5;
    background: url(../images/main/main_bar.png) no-repeat center top;
    padding-top: 20px;
    font-weight: 500;
}

#banner .banner_inner {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

#banner .banner_free {
    background: url(../images/main/main_icon1_banner.png) no-repeat center top;
    height: 334px;
    width: 200px;
    box-sizing: border-box;
    padding-top: 230px;
    line-height: 1.5;
    text-shadow: 1px 1px 1px #000;
    position: absolute;
    left: 0;
    top: 130px;
}

#banner .banner_free span {
    display: inline-block;
    font-size: 24px;
    line-height: 1.5;
    padding-top: 20px;
}

#banner .banner_happy {
    background: url(../images/main/main_icon2_banner.png) no-repeat center top;
    height: 334px;
    width: 200px;
    box-sizing: border-box;
    padding-top: 230px;
    line-height: 1.5;
    text-shadow: 1px 1px 1px #000;
    position: absolute;
    left: 50%;
    top: 130px;
    transform: translateX(-50%);
}

#banner .banner_happy span {
    display: inline-block;
    font-size: 24px;
    line-height: 1.5;
    padding-top: 20px;
}

#banner .banner_dream {
    background: url(../images/main/main_icon3_banner.png) no-repeat center top;
    height: 334px;
    width: 200px;
    box-sizing: border-box;
    padding-top: 230px;
    line-height: 1.5;
    text-shadow: 1px 1px 1px #000;
    position: absolute;
    right: 0;
    top: 130px;
}

#banner .banner_dream span {
    display: inline-block;
    font-size: 24px;
    line-height: 1.5;
    padding-top: 20px;
}

/* News */
#news {
    width: 1200px;
    height: 540px;
    margin: 0 auto 150px;
    text-align: center;
    position: relative;
}

#news h2 {
    font-size: 40px;
    line-height: 1.5;
    background: url(../images/main/main_bar.png) no-repeat center top;
    padding-top: 20px;
}

#news .news_tit {
    font-size: 20px;
    line-height: 1.45;
    padding-top: 10px;
}

#news iframe {
    position: absolute;
    left: 0;
    top: 225px;
}

#news .report {
    width: 620px;
    height: 315px;
    position: absolute;
    right: 0;
    top: 225px;
}

#news .report h3 {
    font-size: 30px;
    line-height: 2;
    position: relative;
}

#news .video {
    width: 200px;
    height: 210px;
    border: 1px solid #ff9600;
    box-sizing: border-box;
    padding: 30px;
    text-align: left;
    position: absolute;
    left: 0;
    top: 90px;
}

#news .video h4 {
    padding-bottom: 25px;
}

#news .video p {
    line-height: 1.5;
}

#news .video .more a {
    display: block;
    border: 1px solid #ccc;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-top: 23px;
    margin-left: 125px;
    transition: background 0.5s;
}

#news .video .more a:hover {
    background: #ffb300;
    color: #fff;
    border: 1px solid #ffb300;
}


#news .class {
    width: 200px;
    height: 210px;
    border: 1px solid #5cbe33;
    box-sizing: border-box;
    padding: 30px 0 0 30px;
    text-align: left;
    position: absolute;
    left: 210px;
    top: 90px;
}

#news .class h4 {
    padding-bottom: 25px;
}

#news .class p {
    line-height: 1.5;
}

#news .class .more a {
    display: block;
    border: 1px solid #ccc;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-top: 23px;
    margin-left: 125px;
    transition: background 0.5s;
}

#news .class .more a:hover {
    background: #5cbe33;
    color: #fff;
    border: 1px solid #5cbe33;
}

#news .event {
    width: 200px;
    height: 210px;
    border: 1px solid #0290ca;
    box-sizing: border-box;
    padding: 30px;
    text-align: left;
    position: absolute;
    right: 0;
    top: 90px;
}

#news .event h4 {
    padding-bottom: 25px;
}

#news .event p {
    line-height: 1.5;
}

#news .event .more a {
    display: block;
    border: 1px solid #ccc;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-top: px;
    margin-left: 125px;
    transition: background 0.5s;
}

#news .event .more a:hover {
    background: #0290ca;
    color: #fff;
    border: 1px solid #0290ca;
}

/* View */
#view {
    width: 1200px;
    margin: 0 auto 150px;
    position: relative;
}

#view h2 {
    font-size: 40px;
    text-align: center;
    line-height: 1.5;
    background: url(../images/main/main_bar.png)no-repeat center top;
    padding-top: 20px;
    margin-bottom: 100px;
}

#view .view_slide li {
    float: left;
    transition: opacity 0.5s;
}

#view .view_slide li:hover {
    opacity: 0.5;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

#view .bx-wrapper .bx-prev {
    right: 70px;
    width: 20px;
    height: 20px;
    border-left: 5px solid #000;
    border-top: 5px solid #000;
    transform: rotate(-45deg);
    position: absolute;
    right: 100px;
}

#view .bx-wrapper .bx-next {
    right: 0;
    width: 20px;
    height: 20px;
    border-left: 5px solid #000;
    border-top: 5px solid #000;
    transform: rotate(135deg);
    position: absolute;
    right: 0px;
}

#view .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 500px;
    outline: 0;
    text-indent: -9999px;
    z-index: 9999;
}

#view .bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

/* Footer */
#footer {
    height: 275px;
    background: #62af31;
}

#footer .footer_inner {
    width: 1200px;
    height: 275px;
    margin: 0 auto;
    position: relative;
}

#footer .foot_logo {
    position: absolute;
    left: 0;
    bottom: 70px;
}

#footer .util {
    position: absolute;
    right: 0;
    top: 50px;
}

#footer .util li {
    float: left;
    padding-left: 50px;
}

#footer .util li a {
    color: #fff;
}

#footer .util li a:hover {
    text-decoration: underline;
}

#address {
    position: absolute;
    right: 0;
    bottom: 50px;
    font-style: normal;
    text-align: right;
}

#address p:nth-child(1) {
    padding-bottom: 20px;
}

#address p:nth-child(2) {
    padding-bottom: 20px;
}

#address .ceo {
    padding-right: 30px;
}
